<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %highlight(%-5level) %cyan(%d{HH:mm:ss.SSS}) [%thread] %green(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Set the root logging level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Set specific logging levels for packages -->
    <!--<logger name="com.example" level="DEBUG" />-->
    <!--<logger name="org.springframework" level="WARN" />-->
</configuration>
